* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-size: 100%;
}


h1 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


.count {
    width: 450px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #363636;
}

.balance {
    color: #fff;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
}


.click {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 100px;
    user-select: none;
    transition: all 0.3s;
}

.click p {
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    color: #fff;
    transition: 0.3s;
}


.decor {
    background-image: url(/clicker/assets/100-point.png);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(100%);
    margin: 0 auto;
    display: none;
}


/* адаптация */


@media (max-width: 498px) {

    h1 {
        font-size: 27px;
    }

    .count {
        width: 300px;
        height: 50px;
        border: 2px solid #fff;
    }

    .balance {
        line-height: 50px;
        font-size: 25px;
    }

    .decor {
        width: 150px;
        height: 150px;
    }

    .click {
        width: 200px;
        height: 200px;
    }

    .click p {
        line-height: 200px;
    }
}
